
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel='stylesheet' href='~/css/styles.css'>
    <title></title>
  </head>
  <body>
    <div class="container">
    	<div class="row">
    	    <div class="col-md-12">
    	        <h3>All Recipes </h3>
    	    </div>
    	    <div class="col-md-12">
    	        <div class="lisitemap-section">
        		<ul>
        			<li><a href="#">Home</a></li>


        		</ul>
    		</div>
    	    </div>
    	   </div>
    </div>
  </body>
</html>
<br/>
Tag <strong>@ViewBag.Tag.GetName()</strong> has these recipes:
@foreach (var recipe in ViewBag.Recipes1) {
  <li>@recipe.GetName()</li> <br/>
}
<br/>

<form action="/tags/@ViewBag.Tag.GetId()/addrecipe" method="post">
<select name="recipeId" id="recipeId">
@foreach (var recipe in ViewBag.Recipes) {
<option value="@recipe.GetId()">@recipe.GetName() </option>
}
</select>
<button type="submit">Select</button>
</form>
