
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html>
<br/>
Tag <strong>@ViewBag.Tag.GetName()</strong> has these recipes:
@foreach (var recipe in ViewBag.Recipes1) {
  <li>@recipe.GetName()</li> <br/>
}
<br/>

<form action="/tags/@ViewBag.Tag.GetId()/addrecipe" method="post">
<select name="recipeId" id="recipeId">
@foreach (var recipe in ViewBag.Recipes) {
<option value="@recipe.GetId()">@recipe.GetName() </option>
}
</select>
<button type="submit">Select</button>
</form>
